---
import Layout from "../layouts/Layout.astro";
import Test from "../components/Test.astro";
import Header from "../components/Header.astro";
---

<Layout title="portfolio">
	<Header />
	<main>
		<h1>Hi, I'm Tantely</h1>
		<p>
			I'm a web developer specializing in HTML5, CSS3, modern JavaScript, React.
			I like creating things from scratch.
		</p>
		<p>
			I'm part of the social enterprise called Onja, in Madagascar. Onja is a
			team of young intelligent Malagasy people who are eager to boost
			Madagascar's development by upskilling and working in tech. We are excited
			to collaborate with people and companies from anywhere in the world,
			remotely.
		</p>
	</main>
</Layout>

<style>
	h1 {
		padding: 0;
		margin: 0 0 1.45rem;
		color: inherit;
		font-family:
			-apple-system,
			BlinkMacSystemFont,
			Segoe UI,
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			Fira Sans,
			Droid Sans,
			Helvetica Neue,
			sans-serif;
		font-weight: 700;
		text-rendering: optimizeLegibility;
		line-height: 1.1;
		font-size: 40.5px;
		color: rgba(0, 0, 0, 0.8);
	}
	p {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		margin-bottom: 1.45rem;
	}
</style>
