<div>
	<p>You can contact me via email or find me around the web.</p>
	<li>
		Email: <a
			target="_blank"
			rel="noopener noreferrer"
			class="contact-module--link--2Ghja"
			href="mailto:tantely@onja.org">tantely@onja.org</a
		>
	</li>
	<li>
		Github: <a
			target="_blank"
			rel="noopener noreferrer"
			class="contact-module--link--2Ghja"
			href="https://github.com/starjardin">starjardin</a
		>
	</li>
</div>

<style>
	p {
		padding: 0;
		margin: 0 0 1.45rem;
	}
	.contact-module--link--2Ghja {
		text-decoration: none;
		font-weight: 700;
		color: #00e;
		padding-bottom: 2px;
		border-bottom: 2px solid rgba(81, 131, 245, 0.4);
		transition: border-bottom 0.3s linear;
		-webkit-transition: border-bottom 0.3s linear;
		-moz-transition: border-bottom 0.3s linear;
		-ms-transition: border-bottom 0.3s linear;
		-o-transition: border-bottom 0.3s linear;
	}

	a {
		text-decoration: none;
		color: #5183f5;
		border-bottom: 2px solid #e2eafd;
		font-weight: 700;
		margin-right: 16px;
		display: inline-block;
	}
</style>
