---
import HeadingLevel2 from "./HeadingLevel2.astro";
---

<footer>
	<HeadingLevel2 text="Get in touch" />
	<a
		href="https://github.com/starjardin"
		target="_blank"
		rel="noopener noreferrer"
		class="footer-module--link--2w0EQ"><span>Github</span></a
	>
</footer>

<style>
	a {
		text-decoration: none;
		color: #4f4f4f;
		padding: 8px;
		border-bottom: none;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
	}
</style>
