---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<h2>{text}</h2>

<style>
	h2 {
		padding: 0;
		margin: 0 0 1.45rem;
		color: inherit;
		font-family:
			-apple-system,
			BlinkMacSystemFont,
			Segoe UI,
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			Fira Sans,
			Droid Sans,
			Helvetica Neue,
			sans-serif;
		font-weight: 700;
		text-rendering: optimizeLegibility;
		line-height: 1.1;
	}
</style>
