<header>
	<h1>Tantely</h1>
	<nav>
		<ul>
			<li><a href="/about">About me</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>

<style>
	header,
	ul {
		display: flex;
		justify-content: space-between;
	}

	li {
		list-style: none;
	}
	h1 {
		text-decoration: none;
		cursor: pointer;
		color: #000;
		font-size: 1.2rem;
		font-family:
			Dancing Script,
			cursive;
	}
	a {
		color: #999;
		padding: 8px 12px;
		text-decoration: none;
		border-bottom: none;
	}

	a:hover {
		color: #5183f5;
		background-color: transparent;
	}
</style>
